<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:replace="~{./seller/template/base :: layout(~{::title}, ~{::section}, ~{::style}, ~{::script})}">

<head>
	<title>모바일 키오스크</title>
</head>
<style></style>
<script></script>

<body style="margin-top: 50px; margin-left: 10px; margin-right: 10px; margin-bottom: 50px;">

<section>
	<div class="container marketing" style="padding-top: 30vh;">
		<div class="row">
			<div class="col-lg-4" style="text-align: center; height: 40vh;">
				<a th:href="@{/menus}" style="text-decoration: none; color: black;">
					<i class="fas fa-store fa-10x"></i>
					<h2>메뉴 관리</h2>
				</a>
			</div>
		
			<div class="col-lg-4" style="text-align: center; height: 40vh;">
				<a href="order-management.html" style="text-decoration: none; color: black;">
				<a th:href="@{/order-management}" style="text-decoration: none; color: black;">
					<i class="far fa-edit fa-10x"></i>
					<h2>주문 관리</h2>
				</a>
			</div>
			<div class="col-lg-4" style="text-align: center; height: 40vh;">
				<a href="qr.html" style="text-decoration: none; color: black;">
				<a th:href="@{/qr}" style="text-decoration: none; color: black;">
					<i class="fas fa-qrcode fa-10x"></i>
					<h2>QR 코드</h2>
				</a>
			</div>
		</div>
	</div>
</section>

</body>

</html>