<!doctype html>
<html lang="ko" th:replace="~{./seller/template/base :: layout(~{::title}, ~{::section}, ~{::style}, ~{::script})}" xmlns:th="http://www.thymeleaf.org">

<head>
   <title>모바일 키오스크</title>
</head>
<style></style>
<body style="margin-top: 50px; margin-left: 10px; margin-right: 10px; margin-bottom: 50px;">


<section>
   <!-- 주문 메뉴 관리 -->
   <div class="container" style="padding-top: 50px;">
      <p class="display-6 text-center">주문 현황</p>
      <hr>
      <div class="col-sm-12 column overflow-auto rounded" style="height: 650px; border: 1px solid #cecece;">

         <div class="card text-black bg-Light m-3" th:each="order : ${orders}">
            <div class="row g-1">
               <div class="col-md-2">
                  <div class="card-header" style="height: 100%;">
                     <div>
                        <h1 class="text-center" th:text="${order.id}">001</h1>
                        <hr>
                        <h6 class="btn btn-primary" th:if="${#strings.equals(order.orderStatus, 'ACCEPT')}" th:onclick="'location.href=\''+ @{/order-management/sold?orderId=} + ${order.id} + '\''" style="text-align: center; width: 100%;">판매하기</h6>
                        <h6 class="btn btn-primary disabled" style="text-align: center; width: 100%; margin-top: 2ch" th:unless="${#strings.equals(order.orderStatus, 'ACCEPT')}">판매하기</h6>
                     </div>
                  </div>
               </div>
               <div class="col">
                  <div class="card-body text-left">
                     <span th:each="orderItem : ${order.orderItems}">
                        <span class="card-title list-inline" th:text="${orderItem.getItem().getName()}" style="font-size: 1.7em">상품명</span>
                        <span th:text="'&#40' + ${orderItem.itemCount} + '개) ' + ' '" style="font-size: 1.7em"></span>
                     </span>
                     <hr>
                     <p th:if="${order.requirements.length() > 25}" class="card-text" th:text="|${order.requirements.substring(0,25)}...|" style="font-size: 1.2em; height: 1.2em;">치킨 무 많이 주세요</p>
                     <p th:if="${order.requirements.length() <= 25}" class="card-text" th:text="${order.requirements}" style="font-size: 1.2em; height: 1.2em;">치킨 무 많이 주세요</p>
                     <span class="card-text" th:text="${order.totalPrice} + '원'" style="font-size: 1.2em; font-weight: bolder"></span>
                     &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                     <span class="card-text" th:text="${order.purchaseType.description}" style="font-size: 1.2em; font-weight: bolder;">매장식사 or 포장</span>
                     &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                     <span class="card-text" th:text="${order.whichPayment.description}" style="font-size: 1.2em; font-weight: bolder;">결제 상태</span>
                  </div>
               </div>

               <div class="col-sm-2">
                  <div class="card-body text-left">
                     <h5 class="text-end" type="button" data-bs-toggle="modal" data-bs-target="#orderDetailModal"  style="margin-bottom: 18%"
                         th:data-id="${order.id}" th:data-totalprice="${order.totalPrice}" th:data-orderitems="${order.orderItems}" th:data-option="${order.orderItems}"
                     th:data-whichpayment="${order.whichPayment.getDescription()}" th:data-purchasetype="${order.purchaseType.getDescription()}" th:data-orderstatus="${order.orderStatus.getDescription()}"
                     th:data-requirements="${order.requirements}" th:data-createat="${order.createAt}">자세히</h5>
                     <hr>
                  </div>
                  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                     <!-- <p th:for="${#ids.prev('regions')} /p> -->
                     <button class="btn btn-primary disabled sendBtn" style="margin-bottom: 1ch;" th:id="${order.id}" th:if="${#strings.equals(order.orderStatus, 'ACCEPT')}" type="button">수락</button>
                     <button class="btn btn-primary sendBtn" th:onclick="'location.href=\''+ @{/order-management/agree?orderId=} + ${order.id} + '\''" style="margin-bottom: 1ch;" th:id="${order.id}" th:unless="${#strings.equals(order.orderStatus, 'ACCEPT')}" type="button">수락</button>
                     <button type="button" style="margin-right: 2ch; margin-bottom: 1ch;" class="btn btn-danger" data-bs-target="#rejectModal" data-bs-toggle="modal" id="rejectBtn" th:data-rejectbtn="${order.id}">거절</button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <!-- 주문 메뉴 자세히 보기 모달-->
   <div class="modal fade" id="orderDetailModal" tabindex="-1" aria-labelledby="orderDetailModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">자세히</h5>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
               <div class="row">
                  <div class="col">
                     <span style="font-size: 1.5em; font-weight: bold">주문 번호<span>
                  </div>
                  <div class="col text-end">
                     <span id="dataId" style="font-size: 1.5em; font-weight: bold"></span>
                  </div>
               </div>
               <hr>
               <div class="row">
                  <div class="col">
                     <span style="font-size: 1.5em; font-weight: bold">주문 상품<span>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <pre id="dataOrderItems" style="font-size: 1.5em; font-weight: bold"></pre>
                  </div>
               </div>
               <hr>
               <div class="row">
                  <div class="col">
                     <span style="font-size: 1.5em; font-weight: bold">주문 총액<span>
                  </div>
                  <div class="col text-end">
                     <span id="dataTotalPrice" style="font-size: 1.5em; font-weight: bold"></span><span style="font-size: 1.5em; font-weight: bold">원</span>
                  </div>
               </div>
               <hr>
               <div class="row">
                  <div class="col">
                     <span style="font-size: 1.5em; font-weight: bold">결제 수단<span>
                  </div>
                  <div class="col text-end">
                     <span id="dataWhichPayment" style="font-size: 1.5em; font-weight: bold"></span>
                  </div>
               </div>
               <hr>
               <div class="row">
                  <div class="col">
                     <span style="font-size: 1.5em; font-weight: bold">식사 형태<span>
                  </div>
                  <div class="col text-end">
                     <span id="dataPurchaseType" style="font-size: 1.5em; font-weight: bold"></span>
                  </div>
               </div>
               <hr>
               <div class="row">
                  <div class="col">
                     <span style="font-size: 1.5em; font-weight: bold">주문 상태<span>
                  </div>
                  <div class="col text-end">
                     <span id="dataOrderStatus" style="font-size: 1.5em; font-weight: bold"></span>
                  </div>
               </div>
               <hr>
               <div class="row">
                  <div class="col">
                     <span style="font-size: 1.5em; font-weight: bold">요구 사항<span>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <span id="dataRequirements" style="font-size: 1.5em; font-weight: bold; word-wrap: break-word"></span>
                  </div>
               </div>
               <hr>
               <div class="row">
                  <div class="col">
                     <span style="font-size: 1.5em; font-weight: bold">주문 시간<span>
                  </div>
                  <div class="col text-end">
                     <span id="dataCreateAt" style="font-size: 1.5em; font-weight: bold"></span>
                  </div>
               </div>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">확인</button>
            </div>
         </div>
      </div>
   </div>

   <!-- 주문 메뉴 거절 사유 모달 -->
   <div class="modal fade" id="rejectModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="ModalLabel">거절</h5>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

               <form action="#" id=reject th:action="@{/order-management/refuse}">
                  <input type="hidden" id="orderId" name="orderId"></input>
<!--                  <button th:field="${data}" th:text="${data}"></button>-->
                  <select id="selbox" name="selbox" class="d-block" style="width: 100%;">
                     <option value="soldOut">메뉴가 매진되었습니다.</option>
                     <option value="storeClosed">주방이 마감되었습니다.</option>
                     <option value="direct">사유 직접입력</option>
<!--                     <option value="test" th:text="${order.id}"></option>-->
                  </select>
                  <span> </span>
                  <textarea name="selboxDirect" id="selboxDirect" cols="30" rows="2" style="width: 100%;"></textarea>
               </form>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
               <input type="submit" form="reject" class="btn btn-primary"></input>
            </div>
         </div>
      </div>
   </div>

   <!-- JavaScript Bundle with Popper -->
   <script>
      window.onpageshow =  function(event) { // BFCahe
         if (event.persisted) {
            window.location.reload();
         }else{} //새로운페이지
      }
   </script>

   <script th:inline="javascript">
      window.onload = function () {
         /*<![CDATA[*/ var goBack = /*[[ ${refresh} ]]*/; /*]]*/

         if (goBack == "true"){
            window.history.back();
            // document.location.replace("http://3.38.39.166:8080/order-management?refresh=false");
            // document.location.replace("http://localhost:8080/order-management?refresh=false");
         }
      }
   </script>

   <script>
      $(function () {
         $("#getOrderId").hide();
         $("#selboxDirect").hide();
         $("#selbox").change(function () {
            if ($("#selbox").val() == "direct") {
               $("#selboxDirect").show();
            } else {
               $("#selboxDirect").hide();
            }
         })
      });
   </script>
   <script>
      $('#rejectModal').on('show.bs.modal', function (e) {
         var data = $(e.relatedTarget).data('rejectbtn');
         $('#orderId').val(data)
      });
   </script>

   <script th:inline="javascript">
       //거절이 눌린 주문의 필요한 정보 받아와서 대입
      $('#orderDetailModal').on('show.bs.modal', function (e) {
         var dataId = $(e.relatedTarget).data('id');
         var dataTotalPrice = $(e.relatedTarget).data('totalprice');
         var dataOrderItems = $(e.relatedTarget).data('orderitems');
         var dataWhichPayment = $(e.relatedTarget).data('whichpayment');
         var dataPurchaseType = $(e.relatedTarget).data('purchasetype');
         var dataOrderStatus = $(e.relatedTarget).data('orderstatus');
         var dataRequirements = $(e.relatedTarget).data('requirements');
         var dataCreateAt = $(e.relatedTarget).data('createat');


         //오더 아이템 보기좋게 다듬기
         dataOrderItems = dataOrderItems.substring(1,dataOrderItems.length - 1);

         var orderItemString = "";
         var orderItemArray = dataOrderItems.split(', ');

         for(var i = 0; i < orderItemArray.length; i++){
            orderItemArray[i].trim();
            orderItemString = orderItemString + orderItemArray[i]
         }


         $('#dataId').text(dataId);
         $('#dataTotalPrice').text(dataTotalPrice);
         $('#dataWhichPayment').text(dataWhichPayment);
         $('#dataPurchaseType').text(dataPurchaseType);
         $('#dataOrderStatus').text(dataOrderStatus);
         $('#dataRequirements').text(dataRequirements);
         $('#dataCreateAt').text(dataCreateAt);
         $('#dataOrderItems').text(orderItemString);
      });
   </script>

   <script>
      setTimeout(function() {
         location.reload();
      }, 30000);

   </script>
</section>

</body>

</html>